*
{
    font-family: Helvetica, Helvetica, Arial, sans-serif;
    color: white;
    background-color: #222222;
    font-size: 24;
    transition: all 0.15s;
}

body
{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #222222;
}

body *
{
    background-color: #00000000;
}

header
{
    text-align: center;
}

h1
{
    margin: 16px;
    font-size: 48;
}

#conditionals
{
    display: flex;
    flex-direction: column;
    align-items: top;
    width: 90%;
    justify-content: space-evenly;
    margin: 16px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.conditionalsDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.conditionalsDiv > div
{
    margin: 16px;
}

.conditionalsCheckboxDiv
{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.checkboxDiv
{
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    align-items: center;
    width: 28%;
    margin: 16px;
    border-radius: 16px;
    padding: 8px;
}

.checkboxDiv label
{
    margin: 0;
    white-space: wrap;
}

.checkboxDiv > label > img
{
    max-height: 128px;
}

.checkboxDiv input
{
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    margin: 8px 8px;
    display: none;
}

.checkboxDiv *
{
    /* user-drag: none;  */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.checkboxDiv:hover
{
    cursor: pointer;
    scale: 105%;
}

.checkboxDiv label:hover
{
    cursor: pointer;
}

.divNot
{
    background-color: #ff000088;
}

.divMay.canIndeterminate
{
    background-color: #00ff0088;
}

.divMust
{
    background-color: #00ff0088;
}

.divMust.canIndeterminate
{
    background-color: #00ffff88;
}

#generatedMonsters
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#monsterNumber
{
    text-align: center;
    margin: 16px;
}

#monsterGenerate
{
    text-align: center;
    margin: 16px;
}

footer
{
    font-size: 10;
    margin: 16px;
}

#generateButton
{
    font-size: 40;
    border: 2px solid white;
    border-radius: 16px;
    padding: 16px;
}

#generateButton:hover
{
    cursor: pointer;
    scale: 105%;
}

.toggleButton
{
    border: 2px solid white;
    border-radius: 8px;
    padding: 16px;
    margin: auto;
    display: block;
}

.toggleButton:hover
{
    cursor: pointer;
    scale: 105%;
}

.monsterDiv
{
    background-color: #ffffff11;
    border-radius: 16px;
    margin: 16px;
    position: relative;
    bottom: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.monsterDiv:hover
{
    scale: 105%;
    background-color: #ffffff33;
}

.monsterReveal
{
    bottom: 24px;
    background-color: #ffffff22;
}

.monsterImg
{
    transition: all 0.15s ease-out;
    background-color: transparent;
    margin: 16px auto;
    display: block;
    object-fit: cover;
    max-width: 100%;
    min-height: 0;
    max-height: 348px;
}

.flashing
{
    min-height: 256px;
    height: 256px;
    max-height: 256px;
}

.monsterName
{
    background-color: transparent;
    text-align: center;
    padding: 16px;
}

a
{
    color: white;
    text-decoration: underline;
}

a:hover
{
    color: white;
    cursor: pointer;
}

a:has(> h2)
{
    white-space: nowrap;
    width: calc-size(auto, size + 5%);
    border-radius: 4px;
    text-decoration: none;
    border-bottom: 2px solid white;
}

a:has(> h2):hover
{
    text-decoration: none;
    scale: 105%;
}

h2
{
    text-align: center;
}

.disabled
{
    opacity: 0.5;
}

.disabled:hover
{
    cursor: not-allowed;
}

.monsterA
{
    width: 20%;
}

@media only screen and (max-width: 1400px)
{
    .checkboxDiv
    {
        width: 40%;
    }
}

@media only screen and (max-width: 1250px)
{
    .monsterA
    {
        width: 30%;
    }
}

@media only screen and (max-width: 1000px)
{
    .checkboxDiv
    {
        width: 90%;
    }
}

@media only screen and (max-width: 900px)
{
    #conditionals
    {
        align-items: center;
    }
}

@media only screen and (max-width: 800px)
{
    .monsterA
    {
        width: 45%;
    }
}

@media only screen and (max-width: 500px)
{
    .monsterA
    {
        width: 95%;
    }
}