*
{
    text-align: center;
    font-family: Helvetica, Helvetica, Arial, sans-serif;
    transition: all 0.15s;
}

body
{
    background-color: black;
    color: white;
    margin: 32px;
    padding: 0;
    margin: 0;
}

h1
{
    font-size: 48px;
    font-weight: 800;
    margin: 1em;
}

h2
{
    font-size: 40px;
    font-weight: 700;
    margin: 1em;
}

h3
{
    font-size: 32px;
    font-weight: 600;
}

a
{
    color: white;
}

a:hover
{
    color: white;
}

#navbar
{
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 1em auto;
    justify-content: space-around;
    align-items: center;
    border-top: white 4px solid;
    border-bottom: white 4px solid;
}

#navbar > a
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#navbar > a:hover
{
    background-color: #ffffff42;
}

#navbar > a > p
{
    margin: 0.5em auto;
    padding: 0;
}

#imageQuartet
{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    margin: 0;
    opacity: 0.2;
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    touch-action: manipulation;

    pointer-events: none;
}

#imageQuartet > img
{
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0;
    
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    touch-action: manipulation;

    pointer-events: none;
}

.showcaseSpace
{
    background: none;
    width: 100%;
    height: 32em;
}

.diaTransitionDivIn
{
    width: 100%;
    height: 4em;
    background: linear-gradient(to bottom right, #ffffff00 0%, #ffffff00 50%, #ffffff 50%, #ffffff 100%);
}

.diaTransitionDivOut
{
    width: 100%;
    height: 2em;
    background: white;
}

.paddingDiv
{
    background-color: white;
    color: black;
    padding: 2em 0;
}

.paddingDiv > p
{
    margin: 0 10em;
}

#educationsDiv
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    margin: 1em auto;
}

#educationsDiv > div > a
{
    font-size: 30px;
    font-weight: 400;
}

#skillFlex /* just kidding */
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#skillFlex > div
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: auto;
}

#skillFlex > div > div
{
    display: flex;
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
    align-items: center;
}

#skillFlex > div > div > p
{
    min-width: 33%;
}

#skillFlex > div > div > img
{
    width: auto;
    max-height: 7em;
    max-width: 100%;
}

.projectsDiv > div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 4em 8em;
}

.projectsDiv > div:nth-child(2n)
{
    background-color: white;
    color: black;
    flex-direction: row-reverse;
}

.projectsDiv > div > a, .projectsDiv > div > div
{
    width: 40%;
    border-radius: 1.5em;
    overflow: hidden;
    margin: 4em;
}

.projectsDiv > div > a
{
    border: solid white 4px;
}

.projectsDiv > div:nth-child(2n) > a
{
    border-color: black;
}

.projectsDiv > div > a:hover
{
    border-color: cyan;
    scale: 102%;
}

.projectsDiv > div > a > img
{
    width: 100%;
    height: 100%;
}

.projectsDiv > div > div > a > h2
{
    margin: 0em;
    padding: 0em;
}

.projectsDiv > div:nth-child(2n) > div > a
{
    color: black;
}

.projectsDiv > div > div > h3
{
    margin: 0em;
    margin-bottom: 1em;
}

p
{
    font-size: 24px;
    list-style-type: none;
    user-select: text;
}

footer
{
    margin: 5em 0;
}

.paddingDiv > footer > p > a
{
    color: black;
}

@media screen and (max-width: 1000px)
{
    .paddingDiv > p
    {
        margin: 0 1em;
    }

    .projectsDiv > div
    {
        flex-direction: column;
    }

    .projectsDiv > div:nth-child(2n)
    {
        flex-direction: column;
    }

    .projectsDiv > div > a, .projectsDiv > div > div
    {
        width: 90%;
    }
}

@media screen and (max-width: 775px)
{
    #navbar
    {
        flex-direction: column;
    }

    #educationsDiv
    {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
    }

    #skillFlex
    {
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 350px)
{
    #skillFlex > div > h2
    {
        margin: 1em 0;
    }

    #skillFlex > div > div > p
    {
        margin: 0;
    }

    footer > p
    {
        font-size: 18px;
    }
}
