*
{
    font-family: Helvetica, Helvetica, Arial, sans-serif;
    color: white;
    font-size: 24;
    transition: all 0.15s;
}

body
{
    width: 100%;
    margin: 0;
    background-color: black;
    padding: 0;
}

header
{
    text-align: center;
    margin: 32px auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1
{
    margin: 32px;
    text-align: center;
    font-size: 48;
    display: block;
    position: absolute;
    left: 50%; /* Move the title halfway across the container */
    transform: translateX(calc(-50% - 32px)); /* Offset it back by half its width to center it */
    text-align: center;
    text-wrap: nowrap;
}

@media only screen and (max-width: 720px)
{
    header
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1
    {
        position: inherit;
        left: 0;
        transform: none;
        text-wrap: wrap;
    }
}

.artImg
{
    width: min(75%, 500px);
    border-radius: 32px;
    margin: 32px auto;
}

.artImg:hover
{
    scale: 105%;
}

@media only screen and (max-width: 600px)
{
    .artImg
    {
        width: 75%;
    }
}

.showcase
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-color: white;
    border-width: 4px;
    border-style: solid;
}

button, select, .turntableLeftArrow, .turntableRightArrow
{
    background-color: #00000054;
    color: white;
    display: inline;
    margin: 0;
    padding: 8px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
}

button:hover, select:hover
{
    cursor: pointer;
    scale: 105%;
}

p
{
    margin: 32px;
}

h2
{
    margin: 32px;
    font-size: 40;
    display: inline-block;
}

button
{
    display: inline-block;
}

.options
{
    display: inline-flex;
    margin: 8px;
    text-wrap: nowrap;
    width: 95%;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.options > div > input
{
    margin: 16px;
    scale: 175%;
}

.options > div > label
{
    margin-left: 32px;
}

h3
{
    margin: 32px;
    font-size: 32;
}

footer
{
    margin: 0;
    padding: 16px;
}

footer p
{
    background-color: inherit;
    font-size: 16;
}

a
{
    font-size: inherit;
    background-color: inherit;
    color: cyan;
    text-decoration: underline;
}

a:visited
{
    font-size: inherit;
    color: fuchsia;
    text-decoration: underline;
}

ul
{
    margin: 32px;
}

ol
{
    margin: 32px;
}

.artwork
{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pfp
{
    width: 256px;
}

.image
{
    width: 512px;
    max-width: 100%;
    flex-grow: 1;
}

.source
{
    width: 512px;
    max-width: 100%;
    flex-grow: 1;
}

.trophy
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
}

.trophy:hover
{
    scale: 105%;
}

.trophy > img
{
    border-color: white;
    border-width: 4px;
    border-style: solid;
}

.trophy:hover > img
{
    border-color: cyan;
    scale: 100%;
}

.trophy:hover:visited > img
{
    border-color: fuchsia;
}

.trophy > label
{
   text-decoration: underline;
}

.trophy:hover > label
{
    color: cyan;
}

.trophy:hover:visited > label
{
    color: fuchsia;
}

.graybg
{
    background-color: rgb(128, 128, 128);
}

.youtube
{
    display: block;
    margin: 32px;
    width: 640px;
    height: 360px;
    border-radius: 8px;
}

@media only screen and (max-width: 700px)
{
    .youtube
    {
        width: 70%;
        margin: 32px auto;
    }
}

.turntable
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 64px auto;
    height: 512px;
    width: 1024px;
    padding-right: 40px;
}

.turntable > div:not(.turntableAdjacentLeft, .turntableAdjacentRight, .turntableSelected, .turntableLeftArrow, .turntableRightArrow)
{
    display: none;
}

.turntableSelected
{
    display: block;
    text-align: center;
    width: 512px;
    max-height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -256px;
    z-index: 1;
    transition: all 0.3s;
}

.turntableAdjacentLeft, .turntableAdjacentRight
{
    display: block;
    text-align: center;
    width: 512px;
    max-height: 100%;
    position: absolute;
    opacity: 50%;
    scale: 50%;
    margin-left: -256px;
    transition: all 0.3s;
}

.turntableAdjacentLeft
{
    left: 35%;
}

.turntableAdjacentRight
{
    left: 65%;
}

.turntableLeftArrow, .turntableRightArrow
{
    display: block;
    background-color: #000000a5;
    color: white;
    text-align: center;
    padding: 32px;
    user-select: none;
    border-radius: 8px;
    z-index: 2;
}

.turntableLeftArrow:hover, .turntableRightArrow:hover
{
    scale: 120%;
    cursor: pointer;
}

.turntableAdjacentLeft:hover, .turntableAdjacentRight:hover
{
    scale: 55%;
    cursor: pointer;
}

@media only screen and (max-width: 1150px)
{
    .turntable
    {
        width: calc(100% - 40px);
    }
}

@media only screen and (max-width: 750px)
{
    .turntable
    {
        height: 256px;
        margin: 128px auto;
    }

    .turntableAdjacentLeft, .turntableAdjacentRight
    {
        display: none;
    }

    .turntableSelected
    {
        width: 256px;
        margin-left: -128px;
    }

    .turntableLeftArrow, .turntableRightArrow
    {
        scale: 75%;
    }

    .turntableLeftArrow:hover, .turntableRightArrow:hover
    {
        scale: 90%;
    }
}
