*
{
    transition: all 0.15s;
    color: white;
}

body
{
    margin: 16px 0;
    background-color: #131313;
    overflow-x: hidden;
}

body > *
{
    margin: 0 auto;
    background-color: none;
}

header
{
    text-align: center;
    margin: 32px 0;
    padding: 0;
    color: white;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

header > span
{
    margin: 0;
    padding: 0;
}

label, #monsterSelect, option
{
    font-size: 24px;
}

select
{
    font-size: 32px;
    border: solid transparent 2px;
    border-radius: 8px;
    display: block;
    background-color: transparent;
    padding: 8px;
}

select:hover
{
    border: solid white 2px;
}

div:has(> select)
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

div:has(> select) > label
{
    font-size: 32px;
}

button
{
    color: white;
    font-size: 32px;
    border: solid transparent 2px;
    border-radius: 8px;
    background-color: transparent;
    padding: 8px;
    text-decoration: none;
    text-wrap: nowrap;
}

button:hover
{
    scale: 105%;
    border: solid white 2px;
}

#renderButton
{
    margin: 0 auto;
    display: block;
}

#homeButton /* not actually a button but an a element */
{
    color: white;
    font-size: 32px;
    border: solid transparent 2px;
    border-radius: 8px;
    background-color: transparent;
    padding: 8px;
    text-decoration: none;
    text-wrap: nowrap;
    margin: 16px;
}

#homeButton:hover
{
    scale: 105%;
    border: solid white 2px;
}

#invisibleHomeButton
{
    font-size: 32px;
    border: solid transparent 2px;
    border-radius: 8px;
    background-color: transparent;
    padding: 8px;
    text-decoration: none;
    color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-wrap: nowrap;
    margin: 16px;
}

#invisibleHomeButton:hover
{
    cursor: default;
}

h1
{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
}

h2
{
    color: white;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}

.contentContainer:has(+h2)
{
    margin-bottom: 64px;
}

h3
{
    color: white;
    text-align: left;
    font-size: 28px;
    font-weight: bold;
}

p
{
    color: white;
    text-align: left;
    font-size: 24px;
    font-weight: normal;
}

.contentContainer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    margin: 16px auto;
}

.box
{
    width: 20%;
    border-style: solid;
    border-width: 4px;
    border-radius: 16px;
    border-color: lightgray;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    text-wrap: wrap;
}

.layer
{
    width: 100%;
    border-style: solid;
    border-width: 4px;
    border-radius: 16px;
    border-color: lightgray;
    background-color: #444444;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    text-wrap: nowrap;
}

.layer *
{
    margin-left: 4px;
    margin-right: 4px;
}

.long
{
    width: 48%;
    border-style: solid;
    border-width: 4px;
    border-radius: 16px;
    border-color: lightgray;
    background-color: #444444;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    text-wrap: wrap;
}

.long > .monsterLabel, .layer > .monsterLabel
{
    align-items: flex-start;
}

.layer .monsterEmoji
{
    width: 64px;
}

.long .monsterEmoji
{
    width: 128px;
}

.box:hover, .layer:hover, .long:hover
{
    scale: 105%;
    cursor: pointer;
    text-decoration: none;
}

div > label:hover, a > label:hover
{
    cursor: pointer;
}

.monsterEmoji
{
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
    background-color: #fcfcfc45;
}

.miniElementListList
{
    margin-top: 8px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 4px;
    max-width: 100%;
    overflow-x: hidden;
}

.monsterLabel
{
    margin-top: 8px;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 4px;
    max-width: 100%;
    overflow-x: hidden;
    text-align: center;
    font-size: 24px;
}

.monsterLabel > label, .box > label, .long > label, .layer > label, .monsterLabelWrapper > label
{
    filter: drop-shadow(0 0 3px #000000ad);
    -webkit-filter: drop-shadow(0 0 3px #000000ad);
}

.miniElementList
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
    white-space: nowrap;
}

.miniElement
{
    height: 48px;
    margin-left: -32px;
    -webkit-filter: drop-shadow(0 0 3px #000000ad);
    filter: drop-shadow(0 0 3px #000000ad);
}

a > .miniElement:hover
{
    scale: 110%;
    cursor: pointer;
    -webkit-filter: drop-shadow(2px 2px 0 white)
                    drop-shadow(-2px 2px 0 white)
                    drop-shadow(2px -2px 0 white)
                    drop-shadow(-2px -2px 0 white);

    filter: drop-shadow(2px 2px 0 white)
            drop-shadow(-2px 2px 0 white)
            drop-shadow(2px -2px 0 white)
            drop-shadow(-2px -2px 0 white);
}

.miniElementList a:nth-child(odd), .miniElementList img:nth-child(odd)
{
    margin-bottom: 24px;
}

.miniElementList a:nth-child(even), .miniElementList img:nth-child(even)
{
    margin-bottom: -24px;
}

.miniElementList a:only-child, .miniElementList img:only-child
{
    margin-bottom: 0px;
}

.soloMonster
{
    width: 100%;
    height: 512px;
    overflow: hidden;
    float: top;
    background-color: #55555533;
}

.soloWrapper
{
    height: 100%;
    width: 100%;
    position: relative;
    top: -100%;
    background: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0.4) 5%,
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 0.4) 95%
    );
}

.soloMonster:has(.soloGap) .soloWrapper
{
    top: calc(-100% - 64px);
}

.soloGap
{
    height: 64px;
    display: block;
}

#monsterImg
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 100%;
}

.monsterVid
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 100%;
}

.monsterVidDisabled
{
    display: none;
}

#monsterTitle
{
    color: white;
}

.soloContainer
{
    font-size: 200%;
    display: block;
    
}

#monsterInfo
{
    color: white;
}

#elementImages .miniElement
{
    height: 64px;
}

.infoSection
{
    margin: 32px 32px;
}

.miniSection
{
    margin: 32px 32px 32px 10%;
}

.underlined
{
    border-bottom: 1px solid white;
}

.infoInline *
{
    display: inline;
}

#quadMonster, #singleMonster
{
    width: 100%;
}

.monsterForm
{
    max-width: 50%;
}

.daMessage
{
    margin: 16px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: top;
}

.profilePic
{
    width: 96px;
    height: 96px;
    border-radius: 48px;
    background-color: #fcfcfc45;
    position: relative;
    display: inline-block;
}

.messageThings
{
    display: inline-flex;
    flex-direction: column;
    margin-left: 16px;
}

.authorName
{
    font-size: 32px;
    margin-right: 16px;
    margin-bottom: 0px;
}

.messageDate
{
    font-size: 24px;
    color: gray;
}

.messageContent
{
    font-size: 32px;
    word-break: break-word;
}

.messageHeader
{
    display: flex;
    align-items: center;
}

.youtubeVideo
{
    margin: auto;
    overflow: hidden;
    float: top;
    border: 0;
    border-radius: 16px;
    display: block;
    max-width: 100%;
}

.formDiv
{
    flex-direction: column;
}

.formDiv:hover
{
    scale: 100%;
    cursor: default;
}

.formDiv > div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-wrap: wrap;
    flex-wrap: wrap-reverse;
}

.soloMonster:has(> #onyxImg)
{
    overflow: visible;
}

#onyxGap
{
    height: 182.2px;
}

#onyxImg
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

.miniInfoContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    margin: 0 16px;
    flex-wrap: wrap;
}

.miniInfoContainer div
{
    flex-grow: 1;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.scrollContainer
{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
}

.scrollBar
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollBar label
{
    margin-bottom: 5px;
}

#renderContainer
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#renderLeft
{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#renderLeft > div
{
    margin: 32px 0;
}

#renderRight
{
    width: 20%;
    border: solid white 8px;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    justify-content: center;
}

#renderedMonster
{
    max-width: 100%;
    display: block;
    margin: auto;
}

#monsterSelect
{
    color: white;
    background-color: transparent;
    border: none;
}

option
{
    color: black;
}

input[type=range][orient=vertical]
{
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 96px;
    height: 128px;
    margin-bottom: 50%;
    transform-origin: 50% 0;
    vertical-align: bottom;
    scale: 150%;
}

input[type=range][orient=horizontal]
{
    writing-mode: horizontal-tb;
    direction: ltr;
    appearance: slider-horizontal;
    height: 96px;
    width: 128px;
    transform-origin: 0 50%;
    margin-top: -32px;
    margin-bottom: 16px;
}

input[type=checkbox]
{
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.checkDiv
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
}

.flipHorizontal
{
    transform: rotateY(180deg);
}
  
.flipVertical
{
    transform: rotateX(180deg);
}

.characterT, .sigilT
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    z-index: -100;
    width: 50%;
    height: 102%;
    transform: translate(200%, -51%);
    transition: none;
    overflow: hidden;
}

.centeredT
{
    display: block;
    filter: drop-shadow(0 0 20px #000000ad);
    -webkit-filter: drop-shadow(0 0 3px #000000ad);
}

.characterT
{
    right: 50%;
}

.sigilT
{
    right: 0;
}

.transitionActive, .transitionFinal
{
    overflow: hidden;
}

/* Moves them to the center */
.transitionActive .characterT
{
    z-index: 100;
    transform: translate(0, -50%);
    transition: transform 0.4s cubic-bezier(0.33, 1, 0.68, 1); /* ease out cubic */
}

.transitionActive .sigilT
{
    z-index: 100;
    transform: translate(0, -50%);
    transition: transform 0.4s cubic-bezier(0.33, 1, 0.68, 1); /* ease out cubic */
}

/* up and down */
.transitionFinal .characterT
{
    z-index: 100;
    transform: translateY(-200%);
    transition: transform 0.4s cubic-bezier(0.32, 0, 0.67, 0); /* ease in cubic */
}

.transitionFinal .sigilT
{
    z-index: 100;
    transform: translateY(50%);
    transition: transform 0.4s cubic-bezier(0.32, 0, 0.67, 0); /* ease in cubic */
}

.hueCircleDiv
{
    width: 0px;
    height: auto;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    display: block;
}

.hueCircle
{
    margin: 0 auto;
    display: block;
}

.hueCircleDiv > div
{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0%;
    top: -100%;
}

.hueCircleDiv > div > img
{
    display: inline;
    position: absolute;
    scale: 20%;
    transform-origin: left bottom;
}

#flavorText
{
    text-align: center;
}

@media screen and (max-width: 750px)
{
    .characterT, .sigilT
    {
        top: 0;
        right: 0;
        width: 102%;
        height: 50%;
        transform: translate(-1%, -200%);
    }

    .characterT
    {
        top: 0;
    }

    .sigilT
    {
        top: 50%;
    }

    /* Moves them to the center */
    .transitionActive .characterT
    {
        transform: translate(0, 0%);
    }
    
    .transitionActive .sigilT
    {
        transform: translate(0, 0%);
    }
    
    /* left and right */
    .transitionFinal .characterT
    {
        transform: translateX(-200%);
    }

    .transitionFinal .sigilT
    {
        transform: translateX(100%);
    }

    .hueCircleDiv > div > img
    {
        scale: 10%;
    }
}


@media screen and (max-width: 1300px)
{
    #renderContainer
    {
        flex-direction: column;
    }

    #renderLeft
    {
        width: 100%;
        align-items: center;
    }

    #renderRight
    {
        width: auto;
        margin: 16px;
    }
}

@media screen and (max-width: 750px)
{
    .scrollContainer
    {
        flex-direction: column;
    }

    .scrollBar
    {
        scale: 150%;
    }

    .scrollBar label
    {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 550px)
{
    header
    {
        flex-direction: column;
    }

    #invisibleHomeButton
    {
        display: none;
    }

    div:has(label, select)
    {
        display: flex;
        flex-direction: column;
    }
}
