@property --bulb-main
{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(255, 170, 0);
}
@property --bulb-outside
{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(88, 55, 0);
}
@property --bulb-highlight
{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(255, 201, 91);
}

@property --hostess-main
{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(39, 255, 209);
}
@property --hostess-outside
{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(28, 137, 129);
}
@property --hostess-highlight
{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(129, 227, 231);
}

@property --clay-main
{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(227, 64, 64);
}
@property --clay-outside
{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(107, 30, 30);
}
@property --clay-highlight
{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(230, 82, 104);
}

@property --signal-main
{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(0, 255, 56);
}
@property --signal-outside
{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(11, 129, 33);
}
@property --signal-highlight
{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(122, 213, 139);
}

@property --trash-main
{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(137, 137, 130);
}
@property --trash-outside
{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(39, 39, 0);
}
@property --trash-highlight
{
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(229, 222, 19);
}

*
{
    transition: all 0.15s;
}

body
{
    /* height: 100vh; */
    margin: 16px;
    background-color: #303030;
}

header
{
    text-align: center;
    margin: 16px;
    color: white;
}

header button
{
    color: black;
    font-size: 24px;
    border-radius: 8px;
}

header button:hover
{
    scale: 105%;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 16px auto;
}

.box
{
    width: 20%;
    border-style: solid;
    border-width: 4px;
    border-radius: 16px;
    border-color: lightgray;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    text-wrap: nowrap;
}

.box:hover
{
    scale: 105%;
    cursor: pointer;
}

.monsterEmoji
{
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
    background-color: #fcfcfc45;
}

.monsterLabel
{
    margin-top: 8px;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    text-align: center;
}

.miniElementList
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.miniElement
{
    height: 48px;
    margin-left: -30px;
}

.miniElementList img:nth-child(even)
{
    margin-bottom: -24px;
}

.soloMonster
{
    margin-right: 0;
    margin-left: auto;
    width: 50%;
    float: right;
}

#monsterTitle
{
    color: white;
}

.soloContainer
{
    font-size: 200%;
    display: block;
}

#monsterInfo
{
    color: white;
}

#elementImages .miniElement
{
    height: 64px;
}

.infoSection
{
    margin: 16px 32px;
}

.infoSection *
{
    display: inline;
}