body
{
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    width: 100%;
    overflow: hidden;
    transition: all 0.20s;
    height: 100vh;
}

body > *
{
    background-color: none;
}

.rainbow
{
    background: linear-gradient(in hsl longer hue 45deg, red 0 0);
}

.rainbow > header, .rainbow > #pollResults, .rainbow > #messagesReceived > p, .rainbow > footer > p
{
    mix-blend-mode: difference;
}

.monochrome
{
    background: linear-gradient(45deg, #000, #fff);
}

.monochrome > header, .monochrome > #pollResults, .monochrome > #messagesReceived > p, .monochrome > footer > p
{
    mix-blend-mode: difference;
}

header
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

p, img, iframe, video
{
    position: absolute;
    white-space: nowrap;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

a
{
    color: inherit;
    text-decoration: none;
}

h3
{  
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#pollResults
{
    display: block;
    margin: auto;
    text-align: center;
}

#pollResults > *
{
    position: relative;
}

#pollConsensus
{
    position: relative;
    display: flex;
    flex-direction: column;
}

.pollVote
{
    position: relative;
}

.pollVote > p
{
    position: relative;
}

footer
{
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 32px;
}

footer > *
{
    position: relative;
    margin: 8px;
    font-size: 40px;
}

footer > img
{
    width: 256px;
}

#pollTimer
{
    position: absolute;
}

#pollTimerChart
{
    max-width: 256px;
    max-height: 256px;
    mix-blend-mode: difference;
    margin: auto;
}

#pollTimerDiv
{
    display: flex;
    align-items: center;
    justify-content: center;
}
