body
{
    font-family: Arial, sans-serif;
}

header
{
    text-align: center;
}

#everythingWrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

form
{
    display: flex;
}

input, button
{
    padding: 8px;
    font-size: 16px;
}

#messageConfirm
{
    display: none;
}
