body
{
    font-family: Arial, sans-serif;
    transition: all 0.20s;
}

header
{
    text-align: center;
}

#everythingWrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

form
{
    display: flex;
}

input, button
{
    padding: 8px;
    font-size: 16px;
}

#messageConfirm
{
    display: none;
}

#parameters, #poll
{
    margin: 8px;
}

.verticalBar
{
    border: solid 1px black;
    width: 200%;
}

#poll
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pollQuestion
{
    display: none;
}

#pollAnswers
{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.pollOption
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 8px;
}

.pollOption > *
{
    margin: 2px;
}

h1
{
    font-size: 32px;
}

input, label, h2, p
{
    font-size: 24px;
}

input[type='checkbox'], input[type='radio']
{
    width: 24px;
    height: 24px;
}
