*
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

body
{
    background-color: #f1dcaa;
}

header
{
    z-index: 10;
    background-color: #acb3c466;
}

header h1
{
    padding: 1vh 1vw;
    text-align: center;
}

#navbar
{
    position: sticky;
    top: 0vh;
    z-index: 10;
    background-color: #acb3c466;
}

#navbarul
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#navbarul li
{
    overflow: hidden;
    padding: 17vh 0%;
    margin: -11vh -0%;
    text-align: center;
    z-index: 10;
}

#navbarul li a
{
    background-color: #1a1a3c;
    color: white;
    padding: 3vh 40vh;
    margin: -0vh -300%;
    text-decoration: none;
}

#navbarul li a:hover
{
    background-color: #373d7e;
}

#amstudImgs
{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: space-around;
}

#cityImgs
{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: space-around;
    text-shadow:
    -1px -1px 0 #f1dcaaaa,
    1px -1px 0 #f1dcaaaa,
    -1px 1px 0 #f1dcaaaa,
    1px 1px 0 #f1dcaaaa;  
}

.amstudImg
{
    display: block;
    margin: 4vh 1vw;
    position: relative;
    text-align: center;
}

.cityImg
{
    display: block;
    margin: -20vh -0vw;
    padding: 16vh 0vw;
    position: relative;
    text-align: center;
}

button
{
    border-radius: 50%;
}

#singleWord
{
    text-align: center;
    background-image: linear-gradient(#f1dcaa, #1a1a3c, #1a1a3c, #1a1a3c, #f1dcaa);
    color: white;
    padding: 100vh 0vh;
}

#projectExplain
{
    margin: 4vh;
}

h2
{
    text-align: center;
    margin: 4vh;
}

#brigaders
{
    display: flex;
    justify-content: space-around;
}

#sources
{
    margin: 4vh;
}

#sources li
{
    overflow: hidden;
}

#aboutImg
{
    display: block;
    margin: 4vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    max-width: 96vw;
}

.author
{
    text-align: center;
    max-width: 25vw;
    margin: 0vh 1vw;
}

@media only screen and (max-width: 750px)
{
    .author
    {
        text-align: center;
        max-width: 45vw;
        margin: 4vh 4vw;
    }

    #brigaders
    {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
