*
{
    color: white;
}

body
{
    background-color: black;
}

h1, h2, h3
{
    color: white;
    text-align: center;
}

p
{
    font-size: 18px;
    text-align: center;
}

a
{
    color: white;
    text-decoration: underline;
}

#monstersDiv
{
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}

.monsterDiv
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid white;
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 1em;
}

.monsterDivSquare
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.monsterDivName
{
    margin: 0;
    padding: 0;
}

.monsterInfoDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    margin: 1em;
}

.monsterShowitDiv
{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin: 1em;
}

#monsterElements, #monsterIslands, #monsterLikes, #monsterInventory
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.monsterPortraits
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: top;
    gap: 1em;
}

.monsterPortraits > div
{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}
